<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="h">
        <pre>AWCO GIS HUB</pre>
      </div>
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">ADMIN</a></li>
      </ul>
    </div>
    <div class="container">
      <p class="lable">Login</p>
      <input class="in user" type="text" placeholder="UserName" />
      <input class="ps user" type="password" placeholder="Password" />
      <button class="log">Login</button>
    </div>
  </body>
</html>
